@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body #root {
  background-color: white;
}
body #root .second-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px -1px 6px 0px #00000085;
  z-index: 1001;
}
#navbar .principal_list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  list-style: none;
}
#navbar .principal_list li {
  display: inline;
}
#navbar .principal_list li .secondary_list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms ease-in-out;
  background-color: white;
  border-radius: 5px;
  transform: translateX(-30px);
}
#navbar .principal_list li .secondary_list li a {
  margin: 20px auto 20px auto;
}
#navbar .principal_list li a {
  display: block;
  position: relative;
  color: #303030;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  transition: all 150ms ease-in-out;
}
#navbar .principal_list li a #menu-arrow {
  margin-right: 7.5px;
  transition: all 150ms ease-in-out;
}
#navbar .principal_list li a:hover {
  color: #2196f3;
}
#navbar .principal_list li:hover > .secondary_list {
  visibility: visible;
  opacity: 1;
}
#navbar .principal_list li:hover > a > #menu-arrow {
  transform: rotate(90deg);
}

@media screen and (min-width: 900px) {
  .principal_list {
    transform: translateX(0) !important;
  }
}
@media screen and (max-width: 900px) {
  #deploy-navbar-btn {
    position: absolute;
    left: 5%;
    top: 50%;
    width: 80px;
    height: 60px;
    cursor: pointer;
    transform: translate(-5%, -50%);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 150ms ease-in-out;
  }
  #deploy-navbar-btn .line {
    width: 30px;
    height: 3px;
    background-color: #4d4d4d;
    margin: 4px;
    border-radius: 25px;
  }
  #deploy-navbar-btn:active {
    background-color: #f1f1f1;
  }

  .principal_list {
    position: fixed;
    left: 0;
    top: 80px;
    width: 60% !important;
    height: calc(100vh - 80px);
    flex-direction: column !important;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px -1px 6px 0px #00000085;
    transition: all 250ms ease-in-out !important;
  }
  .principal_list li a {
    text-shadow: 0px 1px 2px #00000029;
  }
  .principal_list li .secondary_list {
    transition: all 150ms ease-in-out !important;
    position: relative !important;
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  .principal_list li .secondary_list li a {
    color: #2196f3 !important;
  }
  .principal_list li:active > .secondary_list {
    transition: all 150ms ease-in-out !important;
    display: inline;
    visibility: visible;
    opacity: 1;
  }
}
/* #deploy-navbar-btn > body {
	overflow-y: hidden;
} */
/*# sourceMappingURL=navbar.css.map */

/*# sourceMappingURL=navbar-bien.css.map */
