@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body #root {
  background-color: white;
}
body #root .second-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  overflow-x: hidden;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px -1px 6px 0px #00000085;
  z-index: 12;
}
#navbar .principal_list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  list-style: none;
}
#navbar .principal_list li {
  display: inline;
}
#navbar .principal_list li ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transition: all 250ms ease-in-out;
  background-color: white;
  border-radius: 5px;
  transform: translateX(-30px);
}
#navbar .principal_list li ul li a,
#navbar .principal_list li ul li div {
  margin: 20px auto 20px auto;
}
#navbar .principal_list li div {
  cursor: pointer;
}
#navbar .principal_list li a,
#navbar .principal_list li div {
  display: block;
  position: relative;
  color: #303030;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  transition: all 150ms ease-in-out;
}
#navbar .principal_list li a #menu-arrow,
#navbar .principal_list li div #menu-arrow {
  margin-right: 7.5px;
  transition: all 150ms ease-in-out;
}
#navbar .principal_list li a:hover,
#navbar .principal_list li div:hover {
  color: #2196f3;
}

@media screen and (min-width: 900px) {
  .principal_list {
    transform: translateX(0) !important;
  }
}
@media screen and (max-width: 900px) {
  #deploy-navbar-btn {
    position: absolute;
    left: 5%;
    top: 50%;
    width: 80px;
    height: 60px;
    cursor: pointer;
    transform: translate(-5%, -50%);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 150ms ease-in-out;
  }
  #deploy-navbar-btn .line {
    width: 30px;
    height: 3px;
    background-color: #4d4d4d;
    margin: 4px;
    border-radius: 25px;
  }
  #deploy-navbar-btn:active {
    background-color: #f1f1f1;
  }

  .principal_list {
    position: fixed;
    left: 0;
    top: 79px;
    width: 60% !important;
    height: calc(100vh - 79px);
    flex-direction: column !important;
    background-color: white;
    /* box-shadow: 0px -1px 6px 0px #00000085; */
    transition: all 500ms ease-in-out !important;
  }
  .principal_list li a,
.principal_list li div {
    text-shadow: 0px 1px 2px #00000029;
  }
  .principal_list li .secondary_list li a,
.principal_list li .secondary_list li div {
    color: #2196f3 !important;
  }
}
.responsive_secondary_list {
  position: relative !important;
  display: inline !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.show_secondary_list {
  position: absolute !important;
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.toggle_arrow {
  transform: rotate(90deg);
}

.li_toggle_color {
  color: #2196f3 !important;
}

#responsive-mask {
  transition: all 500ms ease-in-out;
}

.toggle_responsive_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: #26424bb9;
}

/*# sourceMappingURL=navbar.css.map */

/*# sourceMappingURL=navbar.css.map */
